.main {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 500px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
	display: flex;
	align-items: center;
	gap: 20px;
}

.headerTitle {
	color: var(--color-header);
}

.faqList {
	list-style: none;
}

.mobileBackground {
	display: none;
	width: 100%;
	height: auto;
}

.desktopBackground {
	width: 100%;
	height: auto;
}

@media (max-width: 800px) {
	.card {
		max-width: 80%;
	}

	.mobileBackground {
		display: block;
	}

	.desktopBackground {
		display: none;
	}
}
